body {
    margin: 0;
}
.container {
    display: grid;
}
header {
    background-color: rgb(209, 231, 11);
    text-align: center;
    font-style: italic;
    font-size: 20px;
}
.menu {
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 12;
}

ul {
    list-style-type: none;
}
a,
a:link {
    text-decoration: none;
    color: blue;
}
li {
    float: right;
    padding: 10px;
    font-size: 25px;
}
.midia-vincent {
    padding: 10px;
    grid-column-start: 1;
    grid-column-end: 2;
}
.infos {
    font-size: 15px;
}
.card {
    display: flex;
    flex-flow: row wrap;
}
.img {
    border: 1px solid #ccc;
    border-radius: 1rem;
    padding: 0.8rem;
    margin-bottom: 0.8rem;
}

.img img {
    width: 125px;
    height: 115px;
}
.principal {
    grid-column-start: 4;
    grid-column-end: 12;
    padding-left: 10px;
    padding-right: 10px;
}
footer {
    grid-column-start: 1;
    grid-column-end: 12;
    text-align: center;
    background-color: rgb(209, 231, 11)
}